<section>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create a Post
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <label>
          <input [(ngModel)]="title" matInput name="title" placeholder="Post title">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>
          <textarea [(ngModel)]="content" matInput name="content" placeholder="Post content" rows="10"></textarea>
        </label>
      </mat-form-field>
      <br>
      <button (click)="createPost()" color="accent" mat-raised-button>CREATE</button>
    </mat-expansion-panel>
  </mat-accordion>
</section>

