<section>
  <mat-card *ngFor="let post of posts | async">
    <mat-card-content routerLink="{{post.id}}">
      <img alt="{{post.title}}" mat-card-image src="{{post.image}}">
      <h2>{{post.title}}</h2>
      <p>
        <small>Posted by {{post.author}} &bull; on {{post.createdAt | date:"fullDate"}}</small>
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="auth.currentUserId === post.authorId" align="end">
      <button (click)="deletePost(post.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
